mat-card.card {
    width: 300px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
  }
  mat-list-item{
    margin-left: 10px;
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  mat-card-title {
    font-size: 1.25rem;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  mat-card-subtitle::before {
    content: '';
    background: url('/assets/location-pin.svg') no-repeat center;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 0.25rem;
  }
  
  mat-card-actions a {
    background-color: #1976d2;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  mat-card-actions a:hover {
    background-color: #1a3758;
  }
  
  mat-card.card mat-list {
    padding: 0 !important;
    margin: 0 !important;
    
  }
  
  mat-card.card mat-list-item {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.2 !important;
    min-height: 0 !important;
    display: flex;
    flex-wrap: wrap;
  }
  
  mat-card.card mat-list-item span.email-field {
    white-space: normal;
    word-break: break-all;
    overflow: visible;
  }
 div{
padding-left: 10px; }