<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/terms-and-conditions">Terms & Conditions</a>
  </div>
  <div class="auth-section">
    <ng-container *ngIf="isAuthenticated$ | async; else notLoggedIn">
      <span>Logged In</span>
      <button class="auth-button" (click)="logout()">Logout</button>
      <button *ngIf="isAuthenticated$ | async" class="auth-button" routerLink="/manage-houses">Manage Houses</button>
    </ng-container>
    <ng-template #notLoggedIn>
      <button class="auth-button" (click)="login()">Login</button>
    </ng-template>
  </div>
</nav>