<nav class="navbar">
  <div class="nav-links" *ngIf="isAuthenticated$ | async">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/terms-and-conditions">Terms & Conditions</a>
  </div>

  <div class="auth-section">
    <ng-container *ngIf="isAuthenticated$ | async; else notLoggedIn">
      <span class="status-text">Logged In</span>

      <ng-container *ngIf="authService.isAdmin$ | async">
        <button class="auth-button" routerLink="/user">User Details</button>
        <button class="auth-button" routerLink="/manage-houses">Manage Houses</button>
      </ng-container>

      <button class="auth-button" (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #notLoggedIn>
      <button class="auth-button" routerLink="/login">Login</button>
    </ng-template>
  </div>
</nav>