.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  color: red;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  margin: 10px;
}

section {
  margin: 20px;
}


form {
  display: flex;
  gap: 15px;
  margin-left: 70px;
  }
  input{
    width: 25%;
    border-radius: 10px;
  }