<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<form class="filter-form">
  <input type="text" placeholder="Filter by city" #filter>
  <button mat-raised-button color="primary" type="button" (click)="filterResults(filter.value)">Search</button>
</form>
<div class="results">
  <app-card
  *ngFor="let housingLocation of filteredLocationList"
  [data]="housingLocation"
  [cardConfig]="housingLocation.id != null ? cardConfig(housingLocation.id.toString()) : cardConfig('')">
</app-card>
</div>