<mat-toolbar color="primary">
  <span routerLink="/" style="cursor: pointer;">E-Learning Platform</span>
  <span class="spacer"></span>
  <div *ngIf="role$ | async as role; else notLoggedIn">
    <button mat-button *ngIf="role === 'admin'" (click)="goToAdminHome()">Home</button>
    <button mat-button *ngIf="role === 'admin'" (click)="goToAdminFeedbacks()">Feedbacks</button>
    <button mat-button *ngIf="role === 'admin'" (click)="goToAdminInstructors()">Instructors</button>
    <button mat-button *ngIf="role === 'admin'" (click)="goToAdminEnrolled()">Enrolled</button>
    <button mat-button *ngIf="role === 'admin'" (click)="goToAdminManageCourses()">Manage Courses</button>

    <button mat-button *ngIf="role === 'user'" (click)="goToUserHome()">Home</button>
    <button mat-button *ngIf="role === 'user'" (click)="goToUserApplyInstructor()">Apply as Instructor</button>
    <button mat-button *ngIf="role === 'user'" (click)="goToUserFeedback()">Submit Feedback</button>
    <button mat-button *ngIf="role === 'user'" (click)="goToUserEnrolled()">Enrolled Courses</button>
    
    <button mat-button #triggerButton [matMenuTriggerFor]="userMenu" class="username-button">
      {{ role }}
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  <ng-template #notLoggedIn>
    <button mat-button (click)="goToLogin()">Login</button>
  </ng-template>
</mat-toolbar>