.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 65vh;

}

.error {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}
div{
  height: 70vh !important;
}

